<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">
  <title>{{ shop.name }}</title>
  <meta name="description" content="">
  {{ content_for_header }}
  <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Graduate&family=Instrument+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  {% section 'header' %}
  {{ content_for_layout }}
</body>
</html>
